<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
            background-color: blanchedalmond;
            width: 500px;
            height: 150px;
            border: 1px solid red;
            border-radius: 15px;
        }

        h1 {
            color: blue;
            font-size: larger;
        }
    </style>
</head>

<body>
    <div>
        <h1>Nodejs Tutorial</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis praesentium nisi voluptas repellendus
            incidunt ut sed. Doloremque, quos exercitationem libero aspernatur dolores temporibus!</p>
    </div>

</body>

</html>